.left-menu{
    position: relative;
    height: 89.5vh;
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(238, 214, 253);
    >.search-bar{
        width: 85%;
        padding: 2.5rem 0 1rem 0;
        >hr{
            border-color: black;
        }
        >.search-row{
            display: flex;
            align-items: center;
            >svg{
                font-size: 1.8rem;
            }
            >.search-input{
                width: 100%;
                outline: none;
                font-size: 1.1rem;
                padding: 0.5rem;
                background-color: transparent;
            }
        }
    }
}
.chats{
    width: 100%;
    background-color: white;
    transition: 0.5s;
    >.active{
        border: 2px groove black;
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
        background-color: rgb(197, 197, 233);
    }
}